#customize-controls .control-section-vw-school-education .accordion-section-title:hover,
#customize-controls .control-section-vw-school-education .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-vw-school-education .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-vw-school-education .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}
/* ---------Customizer--------- */
.control-section-vw-school-education h3.accordion-section-title {
  	background: #c2272d !important;
  	color: #fff !important;
}
a.button.button-secondary.alignright {
  	color: #fff;
    box-shadow: 2px 2px 0px 0px #333;
    border: solid 1px #333;
    border-bottom: none;
    background: #000;
    font-weight: bold;
}
a.button.button-secondary.alignright:hover {
	background: #eee;
	color: #000;
}